<header class="main_header">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}<span class="ducking-black">Ducking</span><span>Traveller</span>{% endif %}</a>
  <nav class="main_menu">
    <a href="{{site.baseurl}}/about/" class="about-black">About Me</a>

  </nav>
</header> <!-- End Section Header -->
<style>
.about-black {
  color: #000 !important;
}
</style>
<style>
  .ducking-black {
    color: #000 !important;
  }
  </style>