<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<header class="main_header">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <nav class="main_menu">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="theduckingtraveller.com">TheDuckTravels</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{{site.baseurl}}/india/index.html">India <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="https://theduckingtraveller.com/assam/">Assam</a></li>
                  <li><a href="https://theduckingtraveller.com/Ranthambore/">Ranthambore</a></li>
                  <li><a href="https://theduckingtraveller.com/Jaipur/">Jaipur</a></li>
                </ul>
              </li>
              <li><a href="{{site.baseurl}}/parks/index.html">National Parks</a></li>
              <li><a href="{{site.baseurl}}/cities/index.html">Cities</a></li>
              <li><a href="{{site.baseurl}}/others/index.html">Others</a></li>
            </ul>
          </div>
        </nav>
    </header> <!-- End Section Header -->
</body>
