<header class="main_header">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}Ducking<span>traveller</span>{% endif %}</a>
  <nav class="main_menu">
    <a href="https://theduckingtraveller.wordpress.com/home/about/">About</a>
    <a href="https://theduckingtraveller.wordpress.com/author/theduckingtraveller/">Blog</a>
    <a href="https://theduckingtraveller/india/">India</a>
    <a href="https://theduckingtraveller/national-parks/">National Parks in USA</a>
    <a href="#cities-usa" id="cities-usa-link">Cities in the USA</a>
  </nav>
</header> <!-- End Section Header -->
