<section id="panel" data-vide-bg="{{ site.baseurl }} /assets/video/{% if site.video %}{{ site.video }}{% endif %}" data-vide-options="posterType: jpg, loop: true, muted: false, position: 50% 50%" class="vh-100-ns tc">
  <div class="wrapper dib mt6">
    <div class="content">
      <h2 class="f2 fw4 avenir tc title">{{ site.banner-title }}</h1>
      <h2 class="f3 fw2 avenir tc sub_title">{{ site.banner-desc }}</h2>
      <h3 class="mt6 f5 fw1 avenir tc"> We are building something beautiful, for now you can head over <a class="dim gold link" href="https://theduckingtraveller.wordpress.com/author/theduckingtraveller/">here</a>.</h3>
    </div>
  </div>
</section> 
</div>