---
layout: default
---
  {% include header.html %}
  {% include header-2.html %}
  {% include banner.html %}
  <main class="page-content" aria-label="Content">
    <section class="chapters cf">
    <p style="text-align: center;font-size: 40px;font-weight: bold;"><strong>What trip do you want to plan today?</strong></p>

      {{ content }}
    </section>

  <section class="About">

    <p style="text-align: center;font-size: 40px;font-weight: bold;"><strong>Thanks for coming to my page</strong></p>
Welcome to my little corner of the internet — a place where I share stories from my travels around the world. By day, I’m an engineer, but my heart has always belonged to exploring new places, meeting people, and collecting moments (and a few misadventures too!). I’ve been dreaming of putting my travel tales into words for ages, and I figured there’s no better time than now to finally do it. I hope these stories make you smile, inspire you to pack your bags, and maybe even help you plan your own adventures a little better. 
<br>
<br>
So, grab a cup of coffee (or a glass of wine!) and enjoy reading about my travel escapades. Here’s to new journeys and endless stories! 🌍✈️✨
<br>
<br>
Thanks for tuning in!

    </section>

    <section class ="Latest Posts"> 

      <p style="text-align: center;font-size: 40px;font-weight: bold;"><strong>View the Latest Posts I've Shared
      </strong></p>


  </section>

  </main>
  {% include newsletter.html %}

  {% include pagination.html %}

  {% include footer.html %}
